HTTP_HOST=0.0.0.0
HTTP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DOCKER_HOST=postgres
POSTGRES_DOCKER_PORT=5432
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_DB=warehouse
POSTGRES_SSLMODE=disable
POSTGRES_SLAVE_DSNS=
POSTGRES_MAX_OPEN_CONNS=10
POSTGRES_MAX_IDLE_CONNS=5
POSTGRES_CONN_MAX_LIFETIME_SECONDS=300

JWT_SECRET=warehouse-control-secret
JWT_TTL_HOURS=12

WEB_DIR=web
